.cart-widget-container {
    display: flex;
    align-items: center;
  }
  
  .cart-image {
    width: 120px;
    height: 120px;
  }
  
  .text-container {
    margin-left: 10px;
  }
  
  .text-container span {
    font-size: 20px;
    color: aliceblue;
    font-family: 'Tilt Prism';
  }
  
  .text-container div {
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    font-family: 'Tilt Prism';
  }
  